.App, body, html{
  background-color: #08402b;
  height: 100vh;
  background-repeat: no-repeat;
  overflow: auto;
}

.currency_form {
  position: fixed;
  top: 60%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.conversion_display {
  position: fixed;
  top: 20%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
